--find-links https://github.com/cansik/mediapipe-silicon/releases/tag/v0.8.9

wheel
numpy
trimesh
pillow
networkx
rtree
pyglet
tqdm

scipy

# pose estimation
mediapipe-silicon; platform_system == "Darwin" and platform.machine == 'arm64'
mediapipe; platform_system != "Darwin" and platform.machine != 'arm64'