wheel
numpy
open3d>=0.16.0
opencv-python
tqdm

scipy

# pose estimation
mediapipe-silicon; platform_system == "Darwin" and platform.machine == 'arm64'
mediapipe; platform_system != "Darwin" or platform.machine != 'arm64'