wheel
numpy
open3d
opencv-python
tqdm

scipy

# pose estimation
mediapipe-silicon; platform_system == "Darwin" and platform.machine == 'arm64'
mediapipe; platform_system != "Darwin" and platform.machine != 'arm64'